.btn {
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  color: white;
  background-color: rgb(123, 190, 238);
  text-transform: capitalize;
}

.btn:hover {
  color: rgb(73, 64, 48);
  background-color: rgb(176, 243, 245);
}